# Чтение и предварительный просмотр данных

Библиотека **pandas** может читать многие форматы, включая: **.csv, .xslx, .xls, .txt, sql** и многие другие.

Полный список по [ссылке](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [2]:
# Прочтем файл .csv с помощью библиотеки pandas
import pandas as pd

df = pd.read_csv('california_housing_train.csv')

NameError: name 'pd' is not defined

In [1]:
print('hello world')

hello world

In [5]:
import pandas as pd


```
DataFrame.head(n=5)
Параметры:
n: int, значение по умолчанию 5
```

In [ ]:
# Посмотреть первые 5 строк 
df.head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100
2,-114.56,33.69,17,720,174,333,117,1.6509,85700
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400
4,-114.57,33.57,20,1454,326,624,262,1.9250,65500



```
DataFrame.tail(n=5)
Параметры:
n: int, значение по умолчнию 5
```

In [ ]:
# Посмотреть последние 5 строк
df.tail()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400
16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000
16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800
16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600

In [ ]:
# Возвращает размеры таблицы: кортеж из 2 значений, 1 кол-во строк, 2 - кол-во столбцов
df.shape

(17000, 9)



```
DataFrame.isnull() - обнаруживает пустые значения
DataFrame.sum(axis=None, skipna=None, level=None, numeric_only=None, min_count=0, **kwargs) - возвращает сумму значений по выбраной оси
Параметры:
axis: int {index (0), columns (1)} - ось(0 - вертикальная, 1 - горизонтальная)
По умолчанию 0
```

In [ ]:
# Посмотреть есть ли у нас пустые значения
# В данном случае пустых значений нет
df.isnull().sum()

longitude           0
latitude            0
housingMedianAge    0
totalRooms          0
totalBedrooms       0
population          0
households          0
medianIncome        0
medianHouseValue    0
dtype: int64

In [ ]:
# Проверить тип данных в столбцах
# В данных случаях везде float, число 64 указывает на разрядность(Используется 64 байта для хранения значения в памяти,
# чем меньше разрядность, тем меньший диапазон могут принимать числа и тем меньше тратится памяти на хранение.
df.dtypes

longitude           float64
latitude            float64
housingMedianAge      int64
totalRooms            int64
totalBedrooms         int64
population            int64
households            int64
medianIncome        float64
medianHouseValue      int64
dtype: object

In [ ]:
# Посмотреть все столбцы
# Возвращает список со строками строк - названиями столбцов в таблице
df.columns

Index(['longitude', 'latitude', 'housingMedianAge', 'totalRooms',
       'totalBedrooms', 'population', 'households', 'medianIncome',
       'medianHouseValue'],
      dtype='object')

В данном случае у нас следующие строки:


1.   **longitude** - долгота
2.   **latitude** - широта
3.   **housing_median_age** - медианный возраст зданий
4.   **total_rooms** - общее кол-во зданий
5.   **total_bedrooms** - Общее кол-во спален
5.   **population** - кол-во жителей
5.   **households** - кол-во семей
5.   **median_house_value** - медианная стоимость дома

**Медиана набора чисел** — число, которое находится в середине этого набора, если его упорядочить по возрастанию, то есть такое число, что половина из элементов набора не меньше него, а другая половина не больше.

# Выбор данных

In [ ]:
# Выбор 1 столбца - [широты]
df['latitude']

0        34.19
1        34.40
2        33.69
3        33.64
4        33.57
         ...
16995    40.58
16996    40.69
16997    41.84
16998    41.80
16999    40.54
Name: latitude, Length: 17000, dtype: float64

In [ ]:
# Выбор нескольких столбцов [широта, кол-во жителей]
df[['latitude', 'population']]

       latitude  population
0         34.19        1015
1         34.40        1129
2         33.69         333
3         33.64         515
4         33.57         624
...         ...         ...
16995     40.58         907
16996     40.69        1194
16997     41.84        1244
16998     41.80        1298
16999     40.54         806

[17000 rows x 2 columns]

![image.png]()

In [ ]:
# Выбор определенного кол-ва рядов
# Синтаксис df[df[col] !=|==|>|<| значение]
df[df['housingMedianAge'] < 20]

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100
2,-114.56,33.69,17,720,174,333,117,1.6509,85700
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400
10,-114.60,33.62,16,3741,801,2434,824,2.6797,86500
...,...,...,...,...,...,...,...,...,...
16983,-124.19,41.78,15,3140,714,1645,640,1.6654,74600
16987,-124.21,41.77,17,3461,722,1947,647,2.5795,68400
16991,-124.23,41.75,11,3159,616,1343,479,2.4805,73200
16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800

![image.png]()

In [ ]:
# Для отбора можно использовать несколько условий одновременно
# Знак & означает 'and', а знак | 'or'
df[(df['housingMedianAge'] > 20) & (df['totalRooms'] > 2000)]

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
6,-114.58,33.61,25,2907,680,1841,633,2.6768,82400
8,-114.59,33.61,34,4789,1175,3134,1056,2.1782,58400
13,-114.61,34.83,31,2478,464,1346,479,3.2120,70400
42,-115.49,32.67,25,2322,573,2185,602,1.3750,70100
45,-115.50,32.67,35,2159,492,1694,475,2.1776,75500
...,...,...,...,...,...,...,...,...,...
16986,-124.19,40.73,21,5694,1056,2907,972,3.5363,90100
16990,-124.22,41.73,28,3003,699,1530,653,1.7038,78300
16993,-124.23,40.54,52,2694,453,1152,435,3.0806,106700
16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400
16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000

In [ ]:
df[(df['housingMedianAge'] > 20) | (df['totalRooms'] > 2000)]

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100
5,-114.58,33.63,29,1387,236,671,239,3.3438,74000
6,-114.58,33.61,25,2907,680,1841,633,2.6768,82400
7,-114.59,34.83,41,812,168,375,158,1.7083,48500
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400
16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000
16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800
16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600

In [ ]:
# Выбор определенного кол-ва рядов и столбцов
# используется метод loc в [], первый аргумент индекс или селектор, а второй список со столбцами
df.loc[df['population'] < 100, ['population','totalBedrooms', 'totalRooms']]

       population  totalBedrooms  totalRooms
17             64             33          44
19             29             24          97
113            30             18          96
116            51             49         208
120            41             43         186
...           ...            ...         ...
16643          85             73         255
16733          26            114         411
16743          86             18          89
16801          18             28          98
16851          87             35         133

[178 rows x 3 columns]

![image.png]()

# Простая статистика

**Pandas** позволяет получить основные простые данные для описательной статистики

Такие как минимальное значение в столбце, максимальное значение, сумма всех значений, среднее значение

![image.png]()

In [ ]:
# Максимальное значение
print(df['population'].max())
# Минимальное значение
print(df['population'].min())
# Среднее значение
print(df['population'].mean())
# Сумма
print(df['population'].sum())

35682
3
1429.5739411764705
24302757

Эту же статистику можно рассчитывать сразу для нескольких столбцов

![image.png]()

In [ ]:
# Медианное значение
df[['population', 'totalRooms']].median()

population    1167.0
totalRooms    2127.0
dtype: float64

Получить общую картину можно простой командой **describe**

In [ ]:
df.describe()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

**count** - Общее кол-во не пустых строк

**mean** - среднее значение в столбце

**std** -  стандартное отклонение от среднего значения

**min** - минимальное значение

**max** - максимальное значение

Числа **25%, 50%, 75%** - перцентили

> **Перцентиль** - это показатель, используемый в статистике, показывающий значение, ниже которого падает определенный процент наблюдений в группе наблюдений

# Домашняя Работа !!
# Работаем только с файлом california_housing_test.csv 
1)Прочесть с помощью pandas файл california_housing_test.csv 

2)Посмотреть сколько в нем строк и столбцов

3)Определить какой тип данных имеют столбцы

4)Показать longitude где housing_median_age < 35

5)Показать столбцы longitude и latitude


  6)Выбрать данные где total_rooms < 2000 и population > 1500
7)Определить какое максимальное и минимальное значение **population**

8)(Доп) Показать максимальное **longitude**, где **median_income** > 3

9)(Доп) Узнать какая максимальная **total_bedrooms** при минимальном значении **households**

In [6]:
#1)Прочесть с помощью pandas файл california_housing_test.csv 
de = pd.read_csv('california_housing_test.csv')

In [7]:
#2)Посмотреть сколько в нем строк и столбцов
de.shape

(3402, 9)

In [8]:
#3)Определить какой тип данных имеют столбцы
de.dtypes

Unnamed: 0              int64
longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms          int64
population              int64
households              int64
median_income         float64
dtype: object

In [11]:
#4)Показать longitude где housing_median_age < 35
de.loc[de['housing_median_age'] < 35, ['longitude']]

      longitude
0       -117.66
1       -117.07
2       -117.91
3       -117.19
4       -119.58
...         ...
3392    -122.10
3393    -117.52
3395    -117.01
3398    -117.88
3399    -118.32

[2216 rows x 1 columns]

In [12]:
#5)Показать столбцы longitude и latitude
de[['longitude', 'latitude']]

      longitude  latitude
0       -117.66     35.60
1       -117.07     32.71
2       -117.91     33.61
3       -117.19     34.05
4       -119.58     36.83
...         ...       ...
3397    -118.33     34.09
3398    -117.88     34.09
3399    -118.32     34.26
3400    -118.12     33.80
3401    -118.19     33.78

[3402 rows x 2 columns]

In [14]:
#6)Выбрать данные где total_rooms < 2000 и population > 1500
de[(de['population'] > 1500) & (de['total_rooms'] > 2000)]

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
1,2,-117.07,32.71,26,4151,823,2822,697,2.8372
4,5,-119.58,36.83,13,6135,863,2473,774,5.4895
15,16,-120.77,38.38,15,4221,816,1737,743,2.3125
16,17,-117.07,32.70,14,2763,456,1914,465,4.1645
19,20,-122.10,38.02,28,4308,824,2086,776,3.6523
...,...,...,...,...,...,...,...,...,...
3387,3388,-117.66,33.57,16,4277,565,1642,549,8.0082
3390,3391,-121.97,37.40,17,2937,558,1662,533,5.8792
3393,3394,-117.52,33.89,2,17978,3217,7305,2463,5.1695
3398,3399,-117.88,34.09,29,3416,790,2223,728,3.5109
3399,3400,-118.32,34.26,32,3690,791,1804,715,4.4875

In [15]:
# 7)Определить какое максимальное и минимальное значение **population*
print(de['population'].max())

print(de['population'].min())

35682
8